# Cribl Search OTLP endpoint (e.g., default.main.my-org-id.cribl.cloud:20000)
CRIBL_ENDPOINT=
# Credentials for OTLP basic auth
CRIBL_USERNAME=
CRIBL_PASSWORD=

# OpenTelemetry demo Helm chart version (pinned to avoid breaking changes)
OTEL_CHART_VERSION=0.40.9
