.specstory

# Environment files
.env
.env.*
set_env.sh
.envrc

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# OS files
.DS_Store
Thumbs.db

terraform/terraform.tfvars

k8s/bin
k8s/backups
k8s/helm-values-processed.yaml